<% provide(:title, "Match result") %>
<br>
<div class="row" style="text-align:center;">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Get Match', "/matches/#{@user.id}", {:style => 'font-size:20px;'} %>
  </div>
</div>

<!-- < %= link_to 'New Match', new_match_path "/matches/#{@user.id}" %> -->
