<% provide(:title, "Help") %>

<style>
html {
    height: 100%;
}

body {
    margin: 5em auto;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.9150035014005602) 14%, rgba(22,63,98,1) 50%, rgba(9,101,121,1) 99%, rgba(0,212,255,1) 100%);
    color: white;
}
</style>

<h1>Discussion Forum</h1>
