<% provide(:title, "Home") %>

<style>
html {
    height: 100%;
}

body {
    margin: 10em auto;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.9150035014005602) 14%, rgba(22,63,98,1) 50%, rgba(9,101,121,1) 99%, rgba(0,212,255,1) 100%);
}

p {
  text-align:center;
  margin-left: 150px;
  margin-right: 150px;
}
</style>

 <div class="py-5" style="color: white;">
    <div class="container">
      <!-- <h1>Section Heading</h1> -->
      <!-- <section class="img-fluid d-block mx-auto" src="RefuMe-Logo.png" alt=""></section> -->
      <br><br><br><br>
      <p>
      <img src="RefuMe-Logo.png" width="150" height="125" class="logo"></p>
      <p class="lead" style="color: white;">Welcome to RefuMe</p>
      <p style="font-size: 1.2em;">
        RefuMe changes lives for good. As the social platform works toward building a just and compassionate community. We help immigrants and refugees of all cultures and beliefs rise up out of poverty and overcome the barriers to self-sufficiency and wellness.
      </p>
    </div>
</div>
