<% provide(:title, "Info Page") %>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<style>
body {
    margin: 5em auto;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.9150035014005602) 14%, rgba(22,63,98,1) 50%, rgba(9,101,121,1) 99%, rgba(0,212,255,1) 100%);
    color: white;
}

</style>

<h1>Information Sources</h1>
<br/>

<!-- <div class="container" style="color: black;"> -->

    <div class="card" style="width: 18rem; margin: auto; width: 100%;">
      <div class="card-body">
        <h3><u>Housing</u></h3>
        <p><strong>The California Department of Housing and Community Development (HCD) </strong> is a department within the California Business, Consumer Services and Housing Agency that develops housing policy and building codes (i.e. the California Building Standards Code), regulates manufactured homes and mobilehome parks, and administers housing finance, economic development and community development programs. </p>
        <p>For more information click on <a style="color: yellow;" href="https://www.hud.gov/states/california/renting"><strong>California Department of Housing</strong></a></p>
      </div>
    </div>

    <br/>

    <div class="card" style="width: 18rem; margin: auto; width: 100%;">
      <div class="card-body">
        <h3><u>Education</u></h3>
        <p> <strong>The United States Department of Education</strong> is a Cabinet-level department of the United States government. It began operating on May 4, 1980, having been created after the Department of Health, Education, and Welfare was split into the Department of Education and the Department of Health and Human Services by the Department of Education Organization Act, which President Jimmy Carter signed into law on October 17, 1979. </p>
        <p>For more information click on <a style="color: yellow;" href="https://www.ed.gov/"><strong>United States Department of Education</strong></a></p>
      </div>
    </div>

    <br/>

    <div class="card" style="width: 18rem; margin: auto; width: 100%;">
      <div class="card-body">
        <h3><u>Transportation</u></h3>
        <p> <strong>The California transportation system</strong> helps to move people and goods around and through the state. The aim of this primer is to provide policymakers and the public with key information about this system.</p>
        <p>For more information click on <a style="color: yellow;" href="https://lao.ca.gov/"><strong>California's Transportation System</strong></a></p>
      </div>
    </div>

    <br/>

    <div class="card" style="width: 18rem; margin: auto; width: 100%;">
      <div class="card-body">
        <h3><u>Citizenship</u></h3>
        <p> <strong>U.S. Citizenship and Immigration Services</strong> administers the country's naturalization and immigration system. It is a successor to the Immigration and Naturalization Service (INS), which was dissolved by the Homeland Security Act of 2002 and replaced by three components within the DHS: USCIS, Immigration and Customs Enforcement (ICE), and Customs and Border Protection (CBP).</p>
        <p>For more information click on <a style="color: yellow;" href="https://www.uscis.gov/"><strong>U.S. Citizenship and Immigration Services</strong></a></p>
      </div>
    </div>

    <br/><br/>

    <!-- <li><strong>Travel</strong></li>
    <li><strong>Shopping</strong></li>
    <li><strong>Career</strong></li> -->
