<% provide(:title, "Mentor Mentee Selection") %>

<h1>Mentor Mentee Selection</h1>

<div style="margin: 0 auto;">
    <form action="" method="post">
        <input type="button" value="Mentor"><br>
        <input type="button" value="Mentee"><br>
    </form>
</div>